.dnd-box {
  display: inline-block;
  padding: 2px 4px;
  margin: 1px 1px 1px 1px;
}
.selected {
  text-decoration: line-through;
}
.dropdown {
  height: 120px;
  max-width: 300px;
  overflow: auto;
}
.dropdown > .item {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 2px;
}
