.filter-table {
  display: grid;
  min-height: 600px;
  grid-template-columns: 250px auto;
  grid-template-rows: 250px auto 150px;
}
.table > div,
.table > span {
  border: 0.5px solid black;
  text-align: center;
  box-shadow: 0 0 0 0.5px black;
  box-sizing: border-box;
}
.result-table > div,
.result-table > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.result-table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center center;
  place-content: start start;
  margin: 8px 8px;
}
.table-topleft {
  grid-area: 1/1/2/2;
}
.table-midleft {
  grid-area: 2/1/3/2;
}
.table-bottomleft {
  grid-area: 3/1/5/2;
}
.table-topright {
  grid-area: 1/2/2/3;
}
.table-bottomright {
  grid-area: 2/2/6/3;
}
